@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap');
*{
  font-family: 'Libre Franklin', sans-serif;
}


body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #312f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  text-align: center;
  width: 100%;
  height: 10%;
}

header h1{
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 1rem;
}

main{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content:space-between;
}
main .section-edition{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .section-card{
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .card{
  padding: 0;
  border-radius: 5px;
  height: 50%;
  width: 25%;
  flex-direction: column;
  justify-content: center;
}

.card .top-card{
  height: 20%;
  background-color: #4cff46;
}

.card .body-card{
  height: 50%;
  background-color: rgb(235, 235, 235);
}

.card .bottom-card{
  background-color: rgb(235, 235, 235);
  height: 30%;
}