/* Importar Fuente */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Configuracion Inicial */

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 100vh;
    max-width: 100vw;
}

/* Header */

header{
    width: 100%;
    min-width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1;
}

header .up-barr{
    width: 90vw;
    position: absolute;
    height: 10px;
    background-color: black;
}

header .header-main{
    padding: 1.5% 4%;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header .header-main .up-rigth-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25%;
    width: 25%;
    align-self:flex-end;
}

header .up-rigth-options .icons-options{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

header .up-rigth-options svg{
    width: 20px;
    height: 20px;
}

header .up-rigth-options a{
    text-align: center;
    width: 90px;
}

header .up-rigth-options a{
    text-decoration: none;
    color:rgb(59, 57, 57);
    font-weight: 600;
    font-size:small;
}

header h1{
    text-align: center;
    margin-bottom: 1%;
    color:rgba(0, 0, 0, 0.829);
}

header  nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35%;
}

header nav .link-nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    font-size: small;
    list-style: none;
}

header nav .link-nav a{
    text-decoration: none;
    color: rgb(85, 84, 84);
    font-weight: 500;
    transition: 0.25s;
}

header nav .link-nav a:hover{
    color: black;
}

header .search-info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}

header .search-info-header .input-search svg{
    width: 21px;
    height: 18px;
    position: absolute;
    outline: none;
}

header .search-info-header .input-search{
    display: flex;
    align-items: center;
}

header .search-info-header .input-search input{
    width: 80%;
    height: 27px;
    text-indent: 20px;
}

header .search-info-header .input-search input ::-webkit-input-placeholder{
    color:rgb(65, 65, 65);
}

header .search-info-header .input-search input ::-webkit-search-cancel-button{
    display: none;
}

header .search-info-header .shopp-cart{
    height: 100%;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .search-info-header p{
    text-align: center;
    color: rgba(0, 0, 0, 0.705);
    font-weight: 600;
}

header .search-info-header .shopp-cart a{
    width: 60px;
    height: 60px;
}

header .search-info-header .shopp-cart svg{
    width: 60px;
    height: 60px;
}

header .search-info-header .shopp-cart svg text{
    position: absolute;
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    z-index: 4;
    font-size: 5rem;
}

/* Main */

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 200px;
    position: relative;
}

main section{
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .section-new-designs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .section-new-designs .new{
    width: 270px;
    height: 50px;
    margin: 4% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: rgb(49, 48, 48);
    font-weight: 900;
    letter-spacing: 1px;
    background-color: white;
    box-shadow: none;
    border: 2px solid rgba(59, 57, 57);
    transition: 0.25s;
}

main .section-new-designs .new:hover{
    background-color: rgb(59, 57, 57);
    color: white;
}

main .section-new-designs .new-images-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .section-new-designs .new-images-1 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1%;
}

main .section-new-designs .new-images-1 div a{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4% 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(49, 48, 48);
    color: rgb(241, 239, 235);
}

main .section-new-designs .new-images-1 div a svg{
    width: 10px;
    height: 10px;
    margin-left: 4%;
}

/* 2 */
main .section-new-designs .new-images-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

main .section-new-designs .new-images-2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 1%;
}

main .section-new-designs .new-images-2 div a{
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 4% 0;
    padding: 0;
    text-decoration: none;
    background-color: rgb(49, 48, 48);
    color: rgb(241, 239, 235);
}

main .section-new-designs .new-images-2 div a svg{
    width: 10px;
    height: 10px;
    margin-left: 4%;
}

main .video {
    margin: 4% 0;
}

main .instagram-section{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin-bottom: 50px;
}

main .instagram-section .insta-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 80px;
    margin-bottom: 10px;
}

main .instagram-section .insta-container .profile-container-instagram{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 200px;
    height: 50px;
}

main .instagram-section .insta-container .profile-container-instagram img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;
}

main .instagram-section .insta-container .profile-container-instagram div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .instagram-section .insta-container .profile-container-instagram div p{
    font-size: x-large;
}

main .instagram-section .insta-container .profile-container-instagram div .follow{
    font-size: small;
    color:rgb(77, 77, 77);
    letter-spacing: 2px;
}

main .instagram-section .insta-container .container-follow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
}

main .instagram-section .insta-container .container-follow a{
    width: 100%;
    height: 100%;
    border: rgb(51, 51, 51) solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:rgb(51, 51, 51);
    font-size: 1.25rem;
}

main .instagram-section .container-follow a svg{
    margin: 0 6px;
    margin-left: 0;
    margin-top: 2px;
}

main .instagram-section .container-follow a :hover{
    color:rgba(97, 98, 98, 0.427);
    border-color: rgb(97, 98, 98, 0.427);
}

main .insta-photos{
    display: grid;
    grid-template-columns: repeat(3, 308px);
    grid-template-rows: repeat(2, 312px);
    grid-column-gap: 9px;
    grid-row-gap: 9px;
    place-items: center;
}

main .insta-photos .img-insta{
    display: flex;
    align-items: center;    
    justify-content: center;
    text-align: center;
    width: 308px;
    height: 308px;
    margin-bottom: 4px;
    margin-left: 4px;
    position: relative;
}

main .insta-photos .img-insta img{
    width: 100%;
    height: 100%;
    position: relative;
}

main .insta-photos .img-insta p{
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    padding: 2px 5px;
    position: absolute;
    align-self: center;
    font-size: 1.5rem;
    color: transparent;
    background-color: transparent;
    transition: 0.3s;
}

main .insta-photos .img-insta p:hover{
    background-color: rgba(22, 22, 22, 0.466);
    color: white;
}

main .insta-photos .img-insta svg{
    position: absolute;
    background-color: rgba(22, 22, 22, 0.466);
    align-self: flex-start;
    top: 8px;
    left: 270px;
    right: 10px;
}

main .instagram-section button{
    margin: 50px 0;
    height: 40px;
    width: 150px;
    font-size: medium;
    font-weight: 300;
    background-color: #FFFF;
    border: 1px solid rgb(48, 47, 47);
    transition: 0.5s;
}

main .instagram-section button:hover{
    color:rgba(66, 66, 66, 0.427);
    border-color: rgba(69, 70, 70, 0.427);
}

main .form-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
}

main .form-social form{
    height: 70%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main .form-social form .email{
    flex-direction: column;
    align-items: flex-start;
}

main .form-social form h5{
    color: rgb(40, 39, 39);
    font-size: 13px;
}

main .form-social form .email{
    width: 400px;
}

#newsletter{
    margin-left: 17px;
}

main .form-social form .email input{
    width: 360px;
    height: 50px;
    padding-left: 20px;
    border: none;
    border-bottom: 1px solid black;
}

main .form-social form .email input::-webkit-input-placeholder{
    color: rgba(79, 79, 79, 0.456);
    font-weight: 600;
}

main .form-social form .names{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50%;
    margin-top: 20px;
    justify-content: space-between;
}

main .form-social form .names .nam{
    margin: 0 10px;
    width: 40%;
}

main .form-social form .names .nam input{
    width: 215px;
    height: 40px;
    margin: 7px 0;
    border: 2px transparent solid;
    background-color: rgba(172, 168, 168, 0.316);
    padding-left: 10px;
    outline: 0;
}

main .form-social form .names .nam input:hover{ 
    background-color: rgba(192, 246, 249, 0.285);
    border: 2px rgba(60, 60, 60, 0.996) solid;
}

main .form-social form .names .nam input:focus{
    background-color: rgba(192, 246, 249, 0.285);
    border: 2px rgba(60, 60, 60, 0.996) solid;
}

main .form-social .social{
    width: 20%;
    margin-left: 4%;
}

main .form-social .submit{
    width: 182px;
    height: 42px;
    align-self: end;
    margin-bottom: 4px;
    background-color: #FFFF;
}